<div style="height:100%">
    <div class="header text-white">Parks in the area ({{parkItems?.length}})</div>
    <div id="parkList" class="list-group list-group-flush">
        <a class="list-group-item rounded-0 border-0" *ngFor="let parkItem of parkItems"
            [class.active]="parkItem.isActive" (click)="parkItem.onClick()">
            <span >{{parkItem.name}} </span>
            <div *ngIf="parkItem.isActive" style="margin-top: 3px">
                <div class="row" style="font-weight: normal;">
                    <div class="col col-lg-4" style="text-align: center">
                        <img [src]="parkItem.pictureUrl">
                    </div>
                    <div class="col col-lg-8">
                        <ul>
                            <li>{{parkItem.address}}</li>
                            <li>Rating: {{parkItem.rating}}/5</li>
                            <li *ngIf="parkItem.isOpenNow">
                                <em>Open now!</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
